DB_URI=mongodb://localhost:27017/your-database
PORT=8100
JWT_SECRET=your_secret_key
SLACK_ERROR_WEBHOOK=

# Email (Resend)
RESEND_API_KEY=re_GePtvFJm_NGAkkfHCxBbJWfboGaP94c2a
EMAIL_FROM_DOMAIN=yeyo.dev

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
